<title>Ku polls</title>
{% load static %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}">
<link rel="stylesheet" href="{% static 'polls/color.css' %}">
<body>
<div class="banner">
    <h1>Ku polls</h1>
</div>

{% if user.is_authenticated %}
<h3 style="color:white; margin-left: 50px;">welcome back,
    {{user.username}}</h3>
<a href="{% url 'logout' %}" style="color:red; margin-left: 50px;">Logout</a>
{% else %}
<h3 style="color:white; margin-left: 50px;">Please <a href="{% url 'login' %}" style="color:red;">Login</a>
    to vote</h3>
{% endif %}

{% if messages %}
<ul class="text">
    {% for msg in messages %}
    <li style="color:white;" class="{{msg.tags}}">{{ msg }}</li>
    {% endfor %}
</ul>
{% endif %}
{% if latest_question_list %}
<ul>
    <table class="table_question">
        <tr class="head_question">
            <th style="color:white;" class="poll_question">Poll question</th>
            <th style="color:white;">Result question</th>
        </tr>
        {% for question in latest_question_list %}
        <tr class="question">
            <td><a href="{% url 'polls:detail' question.id %}"
                   style="color:white;">{{ question.question_text }}</a></td>
            <td><a href="{% url 'polls:results' question.id %}"
                   style="color:red;">Show Result</a></td>
        </tr>
        {% endfor %}
    </table>
</ul>
{% else %}
<p>No polls are available.</p>
{% endif %}
</body>
